.hero {
  height: 100vh;
  background: $dark center center/cover no-repeat;
  color: $light;
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__instagram {
    max-width: 87px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__content {
    max-width: 600px;
  }

  &__title {
    font-family: Yeseva One;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;

    span {
      color: $primary;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 30px;
    max-width: 504px;
  }

  &__btn {
    display: flex;
  }

  &__button {
    padding: 19px 26px;
    margin-right: 20px;
  }

  &__scroll-down {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 247px;
    min-height: 97px;
    background-color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.instagram {
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    text-transform: uppercase;
    color: $primary;
    transform: rotate(90deg);
    font-family: Futura Demi;
    font-size: 14px;
    line-height: 16px;
  }
}

.container {}

.title {}

.button {}

.button--primary {}